<div ng-controller="usersController">

	username:<input type="text" ng-model="user.username"><br> 
	email:<input type="text" ng-model="user.email"> <br>
	password:<input type="text" ng-model="user.password"> <br>	

	<table>
		<tr>
			<td>Nombre</td>
			<td>email</td>
			<td>edit</td>
			<td>del</td>
		</tr>
		<tr ng-repeat="d in users">
			<td>{{d.username}}</td>
			<td>{{d.email}}</td>
			<td><a href="" ng-click="select(d)">Edit</a></td>
			<td><a href="" ng-click="delete(d)">X</a></td>
		</tr>
	</table>
	<button ng-click="save()">Save</button>
</div>